In [2]:
import pandas as pd
nybb=pd.read_csv("/Users/fezzibasma/Desktop/Data Full-Stack/Machine Learning Unsupervised/Projet Uber/uber-trip-data/taxi_zones.csv")
nybb.head()

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,MULTIPOLYGON (((-73.84792614099985 40.87134223...,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,MULTIPOLYGON (((-74.17421738099989 40.56256808...,0.000498,Arden Heights,5,Staten Island

In [3]:
nybb['the_geom'][0][16:40]

'-74.18445299999996 40.69'

In [4]:
nybb['coordinates']=nybb['the_geom'].apply(lambda x: x[16:42])
nybb['coordinates'].str.split(' ').to_list()

[['-74.18445299999996', '40.6949'],
 ['-73.82337597260663', '40.6389'],
 ['-73.84792614099985', '40.8713'],
 ['-73.97177410965318', '40.7258'],
 ['-74.17421738099989', '40.5625'],
 ['-74.06367318899999', '40.6021'],
 ['-73.90413637799996', '40.7675'],
 ['-73.92334041500001', '40.7751'],
 ['-73.78502434699996', '40.7610'],
 ['-73.95953658899997', '40.7987'],
 ['-73.78326624999988', '40.6899'],
 ['-74.00109809499993', '40.6030'],
 ['-74.01565756599994', '40.7048'],
 ['-74.01244109299991', '40.7190'],
 ['-73.88513907699999', '40.8663'],
 ['-73.98155298299992', '40.6891'],
 ['-74.03407329297129', '40.6443'],
 ['-73.7774039129087', '40.79659'],
 ['-73.99254973599997', '40.6242'],
 ['-74.19568609223377', '40.6350'],
 ['-73.7685730499999', '40.77910'],
 ['-73.94306406899986', '40.7014'],
 ['-73.72339596299987', '40.7503'],
 ['-73.88386792099986', '40.8642'],
 ['-73.97418385499991', '40.6094'],
 ['-73.98331628499983', '40.6414'],
 ['-73.86522555399998', '40.5704'],
 ['-73.79240413399991', '40.7161'],
 ['-73.99619227264343', '40.7033'],
 ['-73.96004798699995', '40.5832'],
 ['-73.87094462199981', '40.8572'],
 ['-73.85882515999995', '40.8580'],
 ['-73.82075892499992', '40.6152'],
 ['-73.97232032119902', '40.7090'],
 ['-73.90105329800004', '40.6621'],
 ['-73.91254913799993', '40.7038'],
 ['-73.93312548700004', '40.7047'],
 ['-73.73624941199995', '40.7025'],
 ['-73.89121853499988', '40.6499'],
 ['-73.998192111', '40.682287329'],
 ['-73.94773985499985', '40.8095'],
 ['-73.99750445299988', '40.7140'],
 ['-73.78452431937963', '40.8604'],
 ['-73.93436121591056', '40.8362'],
 ['-73.97255352299985', '40.7648'],
 ['-74.21220034099993', '40.5564'],
 ['-73.89090203399996', '40.8541'],
 ['-73.99117738199989', '40.7553'],
 ['-73.96062056499981', '40.6963'],
 ['-73.99667705784736', '40.7735'],
 ['-73.82091617199997', '40.8689'],
 ['-73.99588110299992', '40.6823'],
 ['-73.83839013354552', '40.7983'],
 ['-74.00174362072502', '40.6924'],
 ['-73.98671582299981', '40.5845'],
 ['-73.85360568399982', '40.7474'],
 ['-73.8513110499998', '40.74984'],
 ['-73.8156138206772', '40.84818'],
 ['-73.88941724899998', '40.8394'],
 ['-73.87823856799989', '40.8399'],
 ['-73.92916130699992', '40.6834'],
 ['-73.92916752199997', '40.6642'],
 ['-73.86650407899992', '40.6844'],
 ['-73.74412314584049', '40.7786'],
 ['-73.98712491499988', '40.7006'],
 ['-73.92021313099984', '40.6599'],
 ['-73.97906084869959', '40.7059'],
 ['-74.0109702639999', '40.63068'],
 ['-74.00201937799989', '40.7404'],
 ['-73.79566545000002', '40.7502'],
 ['-73.91179361999995', '40.8264'],
 ['-73.85912375899987', '40.7612'],
 ['-73.93177153199984', '40.6552'],
 ['-73.98377990999991', '40.7215'],
 ['-73.93174841322003', '40.7280'],
 ['-73.93380589881859', '40.8165'],
 ['-73.94715896299984', '40.6555'],
 ['-73.76669071688973', '40.6142'],
 ['-73.94103496899987', '40.7925'],
 ['-73.88063900599983', '40.6791'],
 ['-73.8997089949999', '40.67549'],
 ['-73.88963328299991', '40.8531'],
 ['-73.82366848110328', '40.8899'],
 ['-74.00372234899996', '40.7069'],
 ['-73.86768504899995', '40.7440'],
 ['-73.89111026199994', '40.7452'],
 ['-74.16005732699995', '40.5276'],
 ['-74.00974639299996', '40.7047'],
 ['-73.95374853799996', '40.6385'],
 ['-73.9963368949999', '40.73804'],
 ['-74.00269315099992', '40.7283'],
 ['-73.91945472999996', '40.6401'],
 ['-73.82656578899986', '40.7706'],
 ['-73.8569635593979', '40.76407'],
 ['-73.89964261700001', '40.8622'],
 ['-73.84732494199989', '40.7387'],
 ['-73.83804164799996', '40.7083'],
 ['-73.9693409769999', '40.69576'],
 ['-73.76360860199983', '40.7391'],
 ['-74.16842916199994', '40.5864'],
 ['-73.98729377099981', '40.7504'],
 ['-73.70134715908382', '40.7507'],
 ['-73.85595536199988', '40.7064'],
 ['-74.04388559600675', '40.6901'],
 ['-74.03995040794244', '40.7008'],
 ['-74.01674756096064', '40.6933'],
 ['-73.98610388199985', '40.6810'],
 ['-73.98238628799993', '40.7314'],
 ['-73.97148350899987', '40.5971'],
 ['-74.14706472699994', '40.5705'],
 ['-74.11813477599993', '40.5505'],
 ['-73.99516890099986', '40.6596'],
 ['-73.95439555417066', '40.7391'],
 ['-73.99136388099987', '40.7275'],
 ['-73.99257987399992', '40.7242'],
 ['-74.08069514799999', '40.6275'],
 ['-73.93924885699987', '40.8282'],
 ['-73.7763584369479', '40.60965'],
 ['-74.10834417899996', '40.6102'],
 ['-73.9247831879999', '40.84475'],
 ['-73.92295449499989', '40.8588'],
 ['-73.94405560899996', '40.6119'],
 ['-73.9301907789999', '40.58508'],
 ['-73.79911195699995', '40.7382'],
 ['-73.75725671499985', '40.7181'],
 ['-73.96285973999984', '40.6125'],
 ['-73.850964537', '40.671719510'],
 ['-73.88615037899991', '40.8273'],
 ['-73.911224294065', '40.873027'],
 ['-73.92359742020388', '40.8788'],
 ['-73.87586503899996', '40.7660'],
 ['-73.82288529599995', '40.7119'],
 ['-73.96371096499993', '40.7930'],
 ['-73.76962552399995', '40.7117'],
 ['-73.74125253099989', '40.6874'],
 ['-73.77732562899998', '40.7223'],
 ['-73.8250346749999', '40.66358'],
 ['-73.97819074399992', '40.6475'],
 ['-73.95854329689507', '40.7584'],
 ['-73.83126834299985', '40.7402'],
 ['-73.89996501599988', '40.8680'],
 ['-73.97219641647804', '40.7404'],
 ['-73.96177668399997', '40.7598'],
 ['-73.98147898799989', '40.7677'],
 ['-73.95357262899981', '40.8219'],
 ['-73.8712485624251', '40.78603'],
 ['-73.98162787399998', '40.7803'],
 ['-73.99580912300002', '40.7166'],
 ['-73.94345411699997', '40.7520'],
 ['-73.93675697199996', '40.7491'],
 ['-73.89515277899991', '40.8278'],
 ['-73.98447731699999', '40.7202'],
 ['-73.90666530999995', '40.8757'],
 ['-73.93531145199985', '40.6088'],
 ['-73.90464209220775', '40.6251'],
 ['-74.17989568340026', '40.6452'],
 ['-73.91189154999992', '40.8221'],
 ['-73.89783236899989', '40.7351'],
 ['-74.00779116099989', '40.7419'],
 ['-73.86970765399998', '40.7251'],
 ['-73.97534377999993', '40.7552'],
 ['-73.9712170449999', '40.75519'],
 ['-73.98136213699995', '40.7678'],
 ['-73.98362519999995', '40.7439'],
 ['-73.97203331099983', '40.7458'],
 ['-73.96014773499996', '40.6289'],
 ['-73.95707738499995', '40.8142'],
 ['-73.89690017899987', '40.8310'],
 ['-73.97080408199996', '40.6259'],
 ['-73.92480953899991', '40.8156'],
 ['-73.89816577499982', '40.8551'],
 ['-73.79317944599987', '40.7704'],
 ['-74.08654858694766', '40.5696'],
 ['-73.85540366099997', '40.7583'],
 ['-73.87772817699982', '40.8834'],
 ['-73.75625606399988', '40.7584'],
 ['-73.93290347544752', '40.7779'],
 ['-74.12187198599999', '40.5751'],
 ['-73.90287079599995', '40.6786'],
 ['-73.8411960569998', '40.68335'],
 ['-73.97583132299987', '40.6658'],
 ['-73.85465135700002', '40.8338'],
 ['-73.83676643699985', '40.8433'],
 ['-73.80728647099995', '40.8859'],
 ['-73.84004614299985', '40.8578'],
 ['-73.99096832799995', '40.7454'],
 ['-73.96070974499996', '40.6731'],
 ['-73.96307724199983', '40.6621'],
 ['-74.13435269573621', '40.6418'],
 ['-73.95729172699996', '40.6643'],
 ['-73.73016587199996', '40.7239'],
 ['-73.82239598999983', '40.7498'],
 ['-73.93522718099996', '40.7695'],
 ['-73.91639852914044', '40.7976'],
 ['-73.85762923599995', '40.7286'],
 ['-74.0071710969999', '40.68635'],
 ['-73.72753500301229', '40.6739'],
 ['-73.83696237799982', '40.7042'],
 ['-73.90768387299997', '40.7173'],
 ['-73.88885148496313', '40.7987'],
 ['-73.88421976599987', '40.8229'],
 ['-73.8366785639999', '40.81758'],
 ['-73.896411335', '40.904504520'],
 ['-74.2032648999999', '40.55562'],
 ['-73.81849901800001', '40.5873'],
 ['-73.94180032729437', '40.7690'],
 ['-73.76636925199999', '40.7025'],
 ['-74.08221272914942', '40.6482'],
 ['-73.90137640299986', '40.7596'],
 ['-73.825986869', '40.840675751'],
 ['-74.00499805099996', '40.7120'],
 ['-73.92759936700004', '40.5950'],
 ['-74.001523638', '40.719820797'],
 ['-74.08491019899996', '40.5957'],
 ['-73.7769103769999', '40.70252'],
 ['-73.80857655199986', '40.6883'],
 ['-73.95554165799997', '40.7075'],
 ['-73.76561573099998', '40.6747'],
 ['-73.76182231299998', '40.6668'],
 ['-73.91741294299997', '40.6840'],
 ['-73.89827216899992', '40.8894'],
 ['-73.97511055399991', '40.7353'],
 ['-73.90989961499994', '40.7490'],
 ['-74.07530550099992', '40.6377'],
 ['-73.87908517399995', '40.6502'],
 ['-73.90649492923363', '40.7901'],
 ['-73.991928124', '40.642204903'],
 ['-73.9969179149999', '40.66915'],
 ['-73.96162927534907', '40.7551'],
 ['-73.98362433299988', '40.7555'],
 ['-74.00931760399995', '40.7247'],
 ['-73.97501417199996', '40.7876'],
 ['-73.97635525199995', '40.7191'],
 ['-73.96547092299994', '40.7519'],
 ['-73.98996936399989', '40.7349'],
 ['-73.90947862999988', '40.8618'],
 ['-73.95779380499984', '40.7735'],
 ['-73.96612747299989', '40.7621'],
 ['-73.96884378999985', '40.7859'],
 ['-73.87643743099994', '40.8968'],
 ['-73.88840157099996', '40.8844'],
 ['-73.8450419489999', '40.68931'],
 ['-73.83593362199987', '40.8484'],
 ['-74.09787969199995', '40.6403'],
 ['-73.95218621999996', '40.7730'],
 ['-73.93156536999994', '40.8695'],
 ['-73.94068822000003', '40.8513'],
 ['-73.83908354399988', '40.7652'],
 ['-74.00439976203513', '40.7626'],
 ['-73.91222180499983', '40.8423'],
 ['-73.8639374809998', '40.84004'],
 ['-74.00250642399995', '40.7290'],
 ['-73.97984261899994', '40.6607'],
 ['-73.8455308949999', '40.83917'],
 ['-74.13107460299995', '40.6311'],
 ['-73.82049919995305', '40.8010'],
 ['-73.85186563799998', '40.8790'],
 ['-73.96176070375392', '40.7252'],
 ['-73.95834207500002', '40.7133'],
 ['-73.85107116191898', '40.9103'],
 ['-73.90175373399988', '40.7607'],
 ['-74.01332610899988', '40.7050'],
 ['-73.94383256699986', '40.7828']]

In [5]:
nybbcoordinates=pd.DataFrame(nybb['coordinates'].str.split(' ',1).tolist(),
                          columns = ['Lon','Lat'])

/var/folders/69/2xnjng8d15j5264htcrb3x640000gn/T/ipykernel_3946/3223490305.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  nybbcoordinates=pd.DataFrame(nybb['coordinates'].str.split(' ',1).tolist(),

In [6]:
taxi_zone_coordinates=pd.concat([nybb,nybbcoordinates],axis=1)
taxi_zone_coordinates.head()

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough,coordinates,Lon,Lat
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR,-74.18445299999996 40.6949,-74.18445299999996,40.6949
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens,-73.82337597260663 40.6389,-73.82337597260663,40.6389
2,3,0.084341,MULTIPOLYGON (((-73.84792614099985 40.87134223...,0.000314,Allerton/Pelham Gardens,3,Bronx,-73.84792614099985 40.8713,-73.84792614099985,40.8713
3,4,0.043567,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.000112,Alphabet City,4,Manhattan,-73.97177410965318 40.7258,-73.97177410965318,40.7258
4,5,0.092146,MULTIPOLYGON (((-74.17421738099989 40.56256808...,0.000498,Arden Heights,5,Staten Island,-74.17421738099989 40.5625,-74.17421738099989,40.5625

In [7]:
taxi_zone_coordinates=taxi_zone_coordinates.drop(['OBJECTID','Shape_Leng','the_geom','Shape_Area','coordinates'],axis=1)

In [8]:
taxi_zone_coordinates['Lat']=taxi_zone_coordinates['Lat'].apply(lambda x:round(float(x),2))
taxi_zone_coordinates['Lon']=taxi_zone_coordinates['Lon'].apply(lambda x:round(float(x),2))
print(taxi_zone_coordinates)

                          zone  LocationID        borough    Lon    Lat
0               Newark Airport           1            EWR -74.18  40.69
1                  Jamaica Bay           2         Queens -73.82  40.64
2      Allerton/Pelham Gardens           3          Bronx -73.85  40.87
3                Alphabet City           4      Manhattan -73.97  40.73
4                Arden Heights           5  Staten Island -74.17  40.56
..                         ...         ...            ...    ...    ...
258  Williamsburg (South Side)         256       Brooklyn -73.96  40.71
259         Woodlawn/Wakefield         259          Bronx -73.85  40.91
260                   Woodside         260         Queens -73.90  40.76
261         World Trade Center         261      Manhattan -74.01  40.70
262             Yorkville East         262      Manhattan -73.94  40.78

[263 rows x 5 columns]

In [9]:
file_name = '/Users/fezzibasma/Desktop/Data Full-Stack/Machine Learning Unsupervised/Projet Uber/export_step/formatting_taxizones.csv'
taxi_zone_coordinates.to_csv(file_name)
print('File is written to CSV File successfully.')

File is written to CSV File successfully.