In [1]:
import pandas as pd
apr14=pd.read_csv("/Users/fezzibasma/Desktop/Data Full-Stack/Machine Learning Unsupervised/Projet Uber/uber-trip-data/uber-raw-data-apr14.csv")
may14=pd.read_csv("/Users/fezzibasma/Desktop/Data Full-Stack/Machine Learning Unsupervised/Projet Uber/uber-trip-data/uber-raw-data-may14.csv")
jun14=pd.read_csv("/Users/fezzibasma/Desktop/Data Full-Stack/Machine Learning Unsupervised/Projet Uber/uber-trip-data/uber-raw-data-may14.csv")
jul14=pd.read_csv("/Users/fezzibasma/Desktop/Data Full-Stack/Machine Learning Unsupervised/Projet Uber/uber-trip-data/uber-raw-data-may14.csv")
aug14=pd.read_csv("/Users/fezzibasma/Desktop/Data Full-Stack/Machine Learning Unsupervised/Projet Uber/uber-trip-data/uber-raw-data-may14.csv")
sep14=pd.read_csv("/Users/fezzibasma/Desktop/Data Full-Stack/Machine Learning Unsupervised/Projet Uber/uber-trip-data/uber-raw-data-may14.csv")

In [2]:
import pandas as pd
list=[]
month14=['apr14','may14','jun14','jul14','aug14','sep14']
for month in range(len(month14)):
    link="/Users/fezzibasma/Desktop/Data Full-Stack/Machine Learning Unsupervised/Projet Uber/uber-trip-data/uber-raw-data-{}.csv".format(month14[month])
    list=pd.read_csv(link)
    list.append(list)
    aprsep14=pd.DataFrame(list)

/var/folders/69/2xnjng8d15j5264htcrb3x640000gn/T/ipykernel_6862/851252268.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  list.append(list)
/var/folders/69/2xnjng8d15j5264htcrb3x640000gn/T/ipykernel_6862/851252268.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  list.append(list)
/var/folders/69/2xnjng8d15j5264htcrb3x640000gn/T/ipykernel_6862/851252268.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  list.append(list)
/var/folders/69/2xnjng8d15j5264htcrb3x640000gn/T/ipykernel_6862/851252268.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  list.append(list)
/var/folders/69/2xnjng8d15j5264htcrb3x640000gn/T/ipykernel_6862/851252268.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  list.append(list)
/var/folders/69/2xnjng8d15j5264htcrb3x640000gn/T/ipykernel_6862/851252268.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  list.append(list)

In [3]:
aprsep14.shape

(1028136, 4)

In [4]:
split_datetime=pd.DataFrame(aprsep14['Date/Time'].str.split(' ').tolist(),
                         columns = ['Date','Time'])

In [5]:
data14=pd.concat([aprsep14,split_datetime],axis=1)
data14=data14.round(2)

## Converger les resultats avec Taxi zones pour obtenir le d√©tail de l'historique data aprsep14

In [6]:
taxi_zone_coordinates=pd.read_csv("/Users/fezzibasma/Desktop/Data Full-Stack/Machine Learning Unsupervised/Projet Uber/export_step/formatting_taxizones.csv",index_col=[0])
taxi_zone_coordinates.head()

                      zone  LocationID        borough    Lon    Lat
0           Newark Airport           1            EWR -74.18  40.69
1              Jamaica Bay           2         Queens -73.82  40.64
2  Allerton/Pelham Gardens           3          Bronx -73.85  40.87
3            Alphabet City           4      Manhattan -73.97  40.73
4            Arden Heights           5  Staten Island -74.17  40.56

In [7]:
result14=data14.merge(taxi_zone_coordinates, on=['Lat','Lon'], how='left').dropna()

In [8]:
result14=result14.reset_index().drop(['index'],axis=1)

In [9]:
result14=result14.rename(columns={"LocationID": "locationID","zone":"Zone","borough":"Borough"})
result14.head()

,Date/Time,Lat,Lon,Base,Date,Time,Zone,locationID,Borough
0,9/1/2014 0:03:00,40.76,-73.99,B02512,9/1/2014,0:03:00,Clinton East,48.0,Manhattan
1,9/1/2014 0:33:00,40.76,-73.98,B02512,9/1/2014,0:33:00,Midtown Center,161.0,Manhattan
2,9/1/2014 0:33:00,40.76,-73.98,B02512,9/1/2014,0:33:00,Times Sq/Theatre District,230.0,Manhattan
3,9/1/2014 0:37:00,40.81,-73.96,B02512,9/1/2014,0:37:00,Morningside Heights,166.0,Manhattan
4,9/1/2014 0:48:00,40.72,-73.99,B02512,9/1/2014,0:48:00,Greenwich Village South,114.0,Manhattan

In [10]:
mycolumns=['Date','Time','locationID','Base','Lon','Lat','Borough','Zone']
result14=result14[mycolumns]
result14.head()

,Date,Time,locationID,Base,Lon,Lat,Borough,Zone
0,9/1/2014,0:03:00,48.0,B02512,-73.99,40.76,Manhattan,Clinton East
1,9/1/2014,0:33:00,161.0,B02512,-73.98,40.76,Manhattan,Midtown Center
2,9/1/2014,0:33:00,230.0,B02512,-73.98,40.76,Manhattan,Times Sq/Theatre District
3,9/1/2014,0:37:00,166.0,B02512,-73.96,40.81,Manhattan,Morningside Heights
4,9/1/2014,0:48:00,114.0,B02512,-73.99,40.72,Manhattan,Greenwich Village South

In [11]:
file_name = '/Users/fezzibasma/Desktop/Data Full-Stack/Machine Learning Unsupervised/Projet Uber/export_step/formatting_aprsep14.csv'
result14.to_csv(file_name)
print('File is written to CSV File successfully.')

File is written to CSV File successfully.